<div class="col-sm-12" id="stories">  
  <div class="page-header text-muted divider">
    Sent Items
  </div>
</div>
<% if (@emails) %>
  <% @emails.each do |email|%> 
    <div class="row">    
      <div class="col-sm-10">
        <h3><%= link_to "#{email.title}", email_path(email) %></h3>
        <small class="text-muted"><%= time_ago_in_words(email.created_at) %> • <%= link_to "Read", email_path(email), class: "text-muted" %></small>
      </h4>
    </div>
    <div class="col-sm-2">
      <a href="#" class="pull-right"><img src="/sentGrey.jpg" class="img-circle"></a>
    </div>
    </div>
  <% end %>

<% else %>
  <h3>No Emails yet.</h3>
<% end %>